<%-include('../partials/header.ejs')%>
<div id="newtrade-content">
    <form action="/products/<%=product.id%>?_method=PUT" method='POST' >
        <p><%= product.title%> details</p>
        <div id="newtrade-details">
            <br>
            <label class="form-label">Title</label>
            <input class="price-tab" id="title" name="title" value="<%=product.title%>" type="text">
            <br>
            <label class="form-label">Product description</label>
            <textarea id="product_description" name="product_description" rows="10" cols="33"><%=product.product_description%></textarea>
            <br>
            <label class="form-label">Image Link</label>
            <input class="price-tab" id="image" name="image" type="text" value="<%=product.image%>" >
            <br>
            <label class="form-label">Price</label>
            <input class="price-tab" type="text" id="price" name="price" value="<%=product.price%>">
            <br>
            <button id="submit-style" type="Submit">Submit</button>
        </div>
    </form>
</div>
<%-include('../partials/footer.ejs')%>